# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Carpeta de uploads (opcional, dependiendo si quieres versionar las imágenes)
uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/